[Desktop Entry]
Type=Application
Icon=preferences-desktop-user-password
Exec=systemsettings kcm_screenlocker
NoDisplay=true

Name=Screen Locking
Name[ar]=قفل الشاشة
Name[bg]=Заключване на екрана
Name[ca]=Bloqueig de pantalla
Name[ca@valencia]=Bloqueig de pantalla
Name[cs]=Uzamykání obrazovky
Name[da]=Skærmlås
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de pantalla
Name[et]=Ekraani lukustamine
Name[eu]=Pantaila giltzatzea
Name[fi]=Näytön lukitus
Name[fr]=Verrouillage de l'écran
Name[gl]=Trancar a pantalla
Name[he]=נעילת מסך
Name[hu]=Képernyőzárolás
Name[ia]=Schermo blocate
Name[id]=Penguncian Layar
Name[it]=Blocco dello schermo
Name[ja]=スクリーンロック
Name[ko]=화면 잠금
Name[lt]=Ekrano užraktas
Name[lv]=Ekrāna slēgšana
Name[ml]=സ്ക്രീൻ പുട്ടുക
Name[nb]=Skjermlåsing
Name[nl]=Scherm vergrendelen
Name[nn]=Skjerm­låsing
Name[pa]=ਸਕਰੀਨ ਲਾਕ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[ro]=Blocarea ecranului
Name[ru]=Блокировка экрана
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[tg]=Қулфкунии экран
Name[tr]=Ekran Kilitleme
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Name[zh_TW]=螢幕鎖定
