[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/screenlocker/index.html

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=60

Name=Screen Locking
Name[ca]=Bloqueig de la pantalla
Name[ca@valencia]=Bloqueig de la pantalla
Name[de]=Bildschirmsperre
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de pantalla
Name[fi]=Näytön lukitseminen
Name[fr]=Verrouillage de l'écran
Name[nb]=Skjermlåsing
Name[nl]=Scherm vergrendelen
Name[nn]=Skjermlåsing
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[sk]=Zamykanie obrazovky
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Comment=Screen Locking Timeouts
Comment[ca]=Temps d'espera pel bloqueig de la pantalla
Comment[ca@valencia]=Temps d'espera pel bloqueig de la pantalla
Comment[de]=Zeitüberschreitungen für Bildschirmsperre
Comment[en_GB]=Screen Locking Timeouts
Comment[es]=Tiempos de espera del bloqueo de pantalla
Comment[fi]=Näytön lukitsemisen viipeet
Comment[fr]=Délai de verrouillage de l'écran
Comment[nb]=Tidsavbrudd for skjermlåsing
Comment[nl]=Tijdslimieten van scherm vergrendelen
Comment[nn]=Tidsavbrot for skjermlåsing
Comment[pt]=Tempos-Limite de Bloqueio do Ecrã
Comment[pt_BR]=Tempo limite para bloqueio da tela
Comment[sk]=Limity zamykania obrazovky
Comment[sv]=Tidsgränser för skärmlåsning
Comment[uk]=Часові параметри блокування екрана
Comment[x-test]=xxScreen Locking Timeoutsxx
Comment[zh_CN]=锁屏时间
X-KDE-Keywords=lock,resume, screensaver, screenlock
X-KDE-Keywords[ca]=bloqueig,reprendre,estalvi de pantalla,bloqueig de pantalla
X-KDE-Keywords[ca@valencia]=bloqueig,reprendre,estalvi de pantalla,bloqueig de pantalla
X-KDE-Keywords[de]=Sperren,Sperre aufheben,Bildschirmschoner,Bildschirmsperre
X-KDE-Keywords[en_GB]=lock,resume, screensaver, screenlock
X-KDE-Keywords[es]=bloquear, reanudar, salvapantallas, bloqueo de pantalla
X-KDE-Keywords[fi]=lock,resume, screensaver, screenlock, lukko, lukitseminen, herääminen, näytönsäästäjä, näyttölukko, lukitusnäyttö
X-KDE-Keywords[fr]=verrouiller, reprendre,écran de veille, verrouillage de l'écran
X-KDE-Keywords[nl]=grendel,hervatten, schermbeveiliging, schermbeveiliging
X-KDE-Keywords[nn]=lås,låsing,framhald,skjermsparar,pauseskjerm,skjermlås
X-KDE-Keywords[pt]=bloquear,retomar,protector de ecrã,bloqueio do ecrã
X-KDE-Keywords[pt_BR]=bloquear,continuar,retornar,protetor de tela,bloqueio de tela
X-KDE-Keywords[sk]=zamknúť,obnoviť,šetrič obrazovky,zamknutie obrazovky
X-KDE-Keywords[sv]=lås,återuppta,skärmsläckare,skärmlåsning
X-KDE-Keywords[uk]=lock,resume,screensaver,screenlock,блокування,замикання,відновлення,зберігач екрана,екран,блокування екрана
X-KDE-Keywords[x-test]=xxlockxx,xxresumexx,xx screensaverxx,xx screenlockxx
X-KDE-Keywords[zh_CN]=lock,resume, screensaver, screenlock,锁屏,恢复,屏幕保护,屏幕锁定
