[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/screenlocker/index.html

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=60

Name=Screen Locking
Comment=Screen Locking Timeouts
X-KDE-Keywords=lock,resume, screensaver, screenlock
