[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system
Exec=kcmshell5 screenlocker
X-KDE-Library=screenlocker_kcm
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/screenlocker/index.html

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=60

Name=Screen Locking
Name[ca]=Bloqueig de la pantalla
Name[nl]=Scherm vergrendelen
Name[pt_BR]=Bloqueio de tela
Name[sv]=Skärmlåsning
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Comment=Screen Locking Timeouts
Comment[ca]=Temps d'espera pel bloqueig de la pantalla
Comment[nl]=Tijdslimieten van scherm vergrendelen
Comment[pt_BR]=Tempo limite para bloqueio da tela
Comment[sv]=Tidsgränser för skärmlåsning
Comment[uk]=Часові параметри блокування екрана
Comment[x-test]=xxScreen Locking Timeoutsxx
Comment[zh_CN]=锁屏时间
X-KDE-Keywords=lock,resume, screensaver, screenlock
X-KDE-Keywords[ca]=bloqueig,reprendre,estalvi de pantalla,bloqueig de pantalla
X-KDE-Keywords[nl]=grendel,hervatten, schermbeveiliging, schermbeveiliging
X-KDE-Keywords[pt_BR]=bloquear,continuar,retornar,protetor de tela,bloqueio de tela
X-KDE-Keywords[sv]=lås,återuppta,skärmsläckare,skärmlåsning
X-KDE-Keywords[uk]=lock,resume,screensaver,screenlock,блокування,замикання,відновлення,зберігач екрана,екран,блокування екрана
X-KDE-Keywords[x-test]=xxlockxx,xxresumexx,xx screensaverxx,xx screenlockxx
X-KDE-Keywords[zh_CN]=lock,resume, screensaver, screenlock,锁屏,恢复,屏幕保护,屏幕锁定
