[Desktop Entry]
Name=Screen Locking
Name[ca]=Bloqueig de pantalla
Name[ca@valencia]=Bloqueig de la pantalla
Name[cs]=Uzamykání obrazovky
Name[da]=Skærmlås
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[en_GB]=Screen Locking
Name[es]=Bloqueo de pantalla
Name[et]=Ekraani lukustamine
Name[eu]=Pantaila giltzatzea
Name[fi]=Näytön lukitus
Name[fr]=Verrouillage de l'écran
Name[gl]=Trancar a pantalla
Name[he]=נעילת מסך
Name[hu]=Képernyőzárolás
Name[ia]=Schermo blocate
Name[id]=Penguncian Layar
Name[it]=Blocco dello schermo
Name[ja]=スクリーンロック
Name[ko]=화면 잠금
Name[lt]=Ekrano užraktas
Name[lv]=Ekrāna slēgšana
Name[ml]=സ്ക്രീൻ പുട്ടുക
Name[nb]=Skjermlåsing
Name[nl]=Scherm vergrendelen
Name[nn]=Skjerm­låsing
Name[pa]=ਸਕਰੀਨ ਲਾਕ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueio de tela
Name[ro]=Blocarea ecranului
Name[ru]=Блокировка экрана
Name[sk]=Zamykanie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@ijekavian]=Закључавање екрана
Name[sr@ijekavianlatin]=Zaključavanje ekrana
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlåsning
Name[tg]=Қулфкунии экран
Name[tr]=Ekran Kilitleme
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockingxx
Name[zh_CN]=锁屏
Name[zh_TW]=螢幕鎖定

Comment=Configure screen locking
Comment[ca]=Configura el bloqueig de la pantalla
Comment[cs]=Nastavit uzamykání obrazovky
Comment[da]=Indstil skærmlås
Comment[de]=Bildschirmsperre einrichten
Comment[en_GB]=Configure screen locking
Comment[es]=Configurar el bloqueo de pantalla
Comment[et]=Ekraani lukustamise seadistamine
Comment[eu]=Konfiguratu pantaila giltzatzea
Comment[fi]=Näytön lukituksen asetukset
Comment[fr]=Configurer le verrouillage de l'écran
Comment[gl]=Configurar o trancamento da pantalla
Comment[hu]=Képernyőzárolás beállítása
Comment[ia]=Configura bloco de shermo
Comment[id]=Konfigurasikan penguncian layar
Comment[it]=Configura il blocco dello schermo
Comment[ko]=화면 잠금 설정
Comment[lt]=Konfigūruoti ekrano užrakinimą
Comment[lv]=Konfigurē ekrāna slēgšanu
Comment[ml]=സ്ക്രീൻ പൂട്ടൽ ക്രമീകരിക്കുക
Comment[nl]=Schermvergrendeling configureren
Comment[nn]=Set opp skjermlåsing
Comment[pl]=Ustawienia blokady ekranu
Comment[pt]=Configurar o bloqueio do ecrã
Comment[pt_BR]=Configura o bloqueio de tela
Comment[ro]=Configurează blocarea ecranului
Comment[ru]=Настройка блокировщика экрана
Comment[sk]=Nastaviť zamykanie obrazovky
Comment[sl]=Nastavi zaklepanje zaslona
Comment[sv]=Anpassa skärmlåsning
Comment[tg]=Танзимоти қулфкунии экран
Comment[uk]=Налаштування блокування екрана
Comment[x-test]=xxConfigure screen lockingxx
Comment[zh_CN]=配置锁屏
Comment[zh_TW]=設定螢幕鎖定方式

Icon=preferences-desktop-user-password
Type=Service
X-KDE-PluginInfo-Author=David Redondo
X-KDE-PluginInfo-Email=kde@david-redondo.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_screenlocker
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-KDE-FormFactors=tablet,handset,desktop

X-Plasma-MainScript=ui/main.qml

